<ion-view view-title="{{bbs_title}}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back(1)"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div>{{bbs.attributes.bbs}}</div>
    <div class="list card" ng-repeat="comment in bbs.comments">
      <div class="item item-avatar">
        <img src="{{comment.img}}">
        <h2>{{comment.name}}</h2>
      </div>
      <div class="item item-body">
        <p>{{comment.content}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" on-tap="like()">
          <i class="icon ion-thumbsup"></i>
          {{comment.like}}
        </a>
        <a class="tab-item" href="#/chat">
          <i class="icon ion-chatbox"></i>
          {{comment.chats}}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
