<ion-view view-title="{{bbs.name}}">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$ionicGoBack($event)"><i class="ion-arrow-left-c"></i></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    
    <div class="list card" ng-repeat="comment in bbs.comments">
      <div class="item item-avatar">
        <img src="{{comment.img}}">
        <h2>{{comment.name}}</h2>
      </div>
      <div class="item item-body">
        <p>{{comment.content}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          {{comment.like}}
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          {{comment.chats}}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
