<ion-view view-title="快捷登录">
  <ion-nav-buttons side="right">
    <a class="button button-clear" href="/#/sign-up">注册</a>
  </ion-nav-buttons>
  <ion-content class="padding gray-bg">
    <div class="list">
      <form name="form" novalidate>
        <div class="row">
          <div class="col col-67">
            <input type="number" placeholder="手机号" class="input-radius" ng-model="user.phone" name="nPhone" phone>
          </div>
          <div class="col ">
            <button class="button button-positive button-block" style="margin:0;padding:0;" ng-disabled="form.nPhone.$error.phone || codeDisable"  ng-bind="codeBtnText" on-tap="sendCode()"></button>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <input type="number" placeholder="验证码" class="input-radius" ng-model="user.code" name="nCode" code>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-disabled="!(!form.nPhone.$error.phone && !form.nCode.$error.code)" on-tap="login()">登录</button>
          </div>
        </div>
        <div class="login-explain">
          <!-- 点击“登录”，即表示你同意<a href="javascript:;">《相片说免责声明》</a> -->
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>
