<ion-view view-title="我的订单" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack($event)"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#/ticket-info/{{item.id}}" ng-repeat="item in list">
        <!-- <img ng-src=""> -->
        <h2>车票号：{{item.attributes.ticketNo | subString:19:23}}</h2>
        <p>订单状态：{{item.attributes.orderStatus | orderStatus}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
