<ion-view view-title="注册完成" hide-back-button="true">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="padding gray-bg">
    <div class="list">
      <form name="form" novalidate>
        <div class="row">
          <div class="col">
            所住小区地址：
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" placeholder="闵行区东川路234号" class="input-radius" ng-model="user.home" name="nHome" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            上班公司地址：
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" placeholder="徐汇区宜山路2612号" class="input-radius" ng-model="user.company" name="nCompany" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-disabled="!(!form.nHome.$error.required && !form.nCompany.$error.required)" on-tap="signUp()">注册完成</button>
          </div>
        </div>
        <div class="login-explain">
          点击“注册”，即表示你同意<a href="javascript:;">《大大班车免责声明》</a>
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>
