<ion-view view-title="我的">
  <ion-content>
    <div>
    	<div ng-hide="isLogin" style="padding:20px;" class="text-center">
    		<a class="button button-small button-stable" href="#/login">点击登录</a>
    	</div>

    	<div class="list" ng-hide="!isLogin">
    		<a class="item item-avatar" href="#">
		      <img ng-src="{{avatar}}">
		      <h2>{{username}}</h2>
		      <p>15121035541</p>
		    </a>
    	</div>
    </div>
    <div class="card account-ticket">
      <div class="item item-text-wrap">
        <h1> 
          车票号：<span>5634</span>
        </h1>
        <p>出发时间：3月5号 08:00</p>
        <p class="">下车地点：徐汇区常熟路333号 新凯家园南门</p>
        <P class="">上车地点：闵行区东川路555号 1号楼</P>
      </div>
      
    </div>
  	<div class="list">

  	  <a class="item item-icon-right" href="#/set-address">
  	    历史订单
  	    <i class="icon ion-ios-arrow-right"></i>
  	  </a>
      <a class="item item-icon-right" href="#/set-address">
        地址设置
        <i class="icon ion-ios-arrow-right"></i>
      </a>
  	  <a class="item item-icon-right " href="#/set-system">
  	    系统设置
  	    <i class="icon ion-ios-arrow-right"></i>
  	  </a>
      <a class="item item-icon-right" href="#/set-address">
        意见与反馈
        <i class="icon ion-ios-arrow-right"></i>
      </a>

  	</div>

    <div class="" ng-hide="!isLogin">
    	<button class="button button-full" on-tap="exit()">退出</button>
    </div>

  </ion-content>
</ion-view>
