<ion-view view-title="大大班车">
  <ion-nav-buttons side="right" class="">
    
  </ion-nav-buttons>
  <ion-content class="gray-bg" scroll="false">

    <div id="slider1_container" style="position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 360px; height: 140px; overflow: hidden;">
        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 360px;
            height: 140px; overflow: hidden;">
            <div>
                <img u="image" src="../tmp/t1.png" />
            </div>
            <div>
                <img u="image" src="../tmp/t2.png" />       
            </div>
            <div>
                <img u="image" src="../tmp/t3.png" />
            </div>
        </div>
                

        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb21" style="bottom: 10px; right: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype"></div>
        </div>
        <!--#endregion Bullet Navigator Skin End -->

    </div>
    
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#" style="padding: 30px 54px;">
        <i class="icon ion-bag"></i>
        上班订票
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right " href="#" style="padding: 30px 54px;">
        <i class="icon ion-ios-paper-outline"></i>
        下班订票
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right " href="#" style="padding: 30px 54px;">
        <i class="icon ion-ios-paper-outline"></i>
        其他订票
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
