<ion-view view-title="我的">
  <ion-content>
    <div>
    	<div ng-hide="isLogin" style="padding:20px;" class="text-center">
    		<a class="button button-small button-stable" href="#/login">点击登录</a>
    	</div>

    	<div class="list" ng-hide="!isLogin">
    		<a class="item item-avatar" href="#">
		      <img ng-src="{{avatar}}">
		      <h2>{{username}}</h2>
		      <p>15121035541</p>
		    </a>
    	</div>
    </div>
	<div class="list">

	  <a class="item item-icon-right" href="#/set-address">
	    
	    地址设置
	    <i class="icon ion-ios-arrow-right"></i>
	  </a>

	  <a class="item item-icon-right " href="#/set-system">
	    系统设置
	    <i class="icon ion-ios-arrow-right"></i>
	  </a>

	</div>

    <div class="" ng-hide="!isLogin">
    	<button class="button button-full" on-tap="exit()">退出</button>
    </div>

  </ion-content>
</ion-view>
