<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive" >

  <!-- guanshui Tab -->
  <ion-tab title="订票" icon-off="ddbc-ion-index-of" icon-on="ddbc-ion-index-on" href="#/tab/bbss">
    <ion-nav-view name="tab-bbss"></ion-nav-view>
  </ion-tab>

  <!-- yuepai Tab -->
  <ion-tab title="信息" icon-off="ddbc-ion-chat-of" icon-on="ddbc-ion-chat-on" href="#/tab/chat-rooms">
    <ion-nav-view name="chat-rooms"></ion-nav-view>
  </ion-tab>

  <!-- wode Tab -->
  <ion-tab title="我" icon-off="ddbc-ion-home-of" icon-on="ddbc-ion-home-on" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>



</ion-tabs>
