<ion-view view-title="订单详情" hide-back-button="true">
  <ion-nav-buttons side="left" class="">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack($event)"></a>
  </ion-nav-buttons>
  <ion-content class="gray-bg has-tabs" scroll="false">

    <div class="card">
      <div class="item item-text-wrap pay-success">

        <h1> 
          车票号：<span>{{ticketOrder.attributes.ticketNo | subString:19:23}}</span>
        </h1>
      </div>
    </div>

    <div class="card ">
      <div class="item item-divider">车票信息</div>
      <div class="item item-text-wrap">
        
        <p>出发时间：{{ticketOrder.attributes.tShuttleShift.attributes.departureTime | dateFormat:'MM月dd号 HH:mm'}}</p>
        <p class="">下车地点：{{ticketOrder.attributes.tShuttleShift.attributes.fromAddr}}</p>
        <P class="">上车地点：{{ticketOrder.attributes.tShuttleShift.attributes.toAddr}}</P>
      </div>
    </div>
    <div class="card" ng-show="breakfastList.length">
      <div class="item item-text-wrap" ng-repeat="item in breakfastList">
        {{item.attributes.breakfastSet.attributes.breakfastName}}{{item.attributes.count}}份
      </div>
    </div>
    <div class="card ">
      <div class="item item-divider">班车信息</div>
      <div class="item item-text-wrap">
        
        <p>车牌号码：沪B37823</p>
        <p>王师傅 15121035541</p>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer pay-bar">
    <button class="button button-block button-positive" ng-click="cancelOrder()">退票</button>
  </div>
</ion-view>
